<p id="notice"><%= notice %></p>

<md-content layout-padding>  
  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Job Details</span>
      </md-card-title-text>
    </md-card-title>
    <br></br>
    <md-card-content>  
      <p>
        <strong>Description:</strong>
        This is a dump Description. There is a need to fix the design and layout of this section soon!
      </p>

      <p>
        <strong>Posted By</strong>
        admin
      </p>

      <p>
        <strong>Location</strong>
        West, Singapore
      </p>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
      <md-button class="md-raised" ng-click="isApplication = ! isApplication">Apply now!</md-button>
    </md-card-actions>
  </md-card>

<%= render 'job_applications/form' %>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
