<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p> Hi <%= @poster.name %>!</p>
    <br>
    <p>You have a new job application for your listing on <%= @listing.title %></p>
    <%= link_to 'Check out the application', url_for("http://OddJobsNUS.com/users/#{@poster.id}") %>
  </body>
</html>
