<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Thanks for signing up, <%= @user.name %>!</p>
    <p>Now go create your first listing and submit your first application so you can meet new friends in NUS!</p>
    <%= link_to 'Go to OddJobs@NUS', url_for("http://OddJobsNUS.com") %>
  </body>
</html>
