<p>
  <strong>Title:</strong>
  <%= @notification.title %>
</p>
 
<p>
  <strong>Job_application_id:</strong>
  <%= @notification.job_application_id %>
</p>

<p>
  <strong>Sender_id:</strong>
  <%= @notification.sender_id %>
</p>