<p id="notice"><%= notice %></p>

<p><h3>Application submitted!</h3><p>

<p>
  <strong>Application:</strong>
  <%= @job_application.details %>
</p>

<%= link_to 'Edit Application', edit_job_application_path(@job_application, @job_application.listing_id), class:"md-button md-raised" %>
