<md-card>
	<md-card-title>
      <md-card-title-text>
        <span class="md-title">Contact Us</span>
      </md-card-title-text>
    </md-card-title>

	<md-card-content>  
		<span class=".md-body-1">If you have any enquiries or feedback, feel free to contact us at the following e-mail address: <a href="mailto:oddjobsnus@gmail.com">oddjobsnus@gmail.com</a></span>
	</md-card-content>  
</md-card>
