/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* to prevent flickering of visual elements before AngularJS is loaded */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

#container {
	margin: 0 auto;
}

.divider {
	margin-left: 5%; 
	margin-right: 5%;
}

#bigContainer {
	background-color: #EEF7F7;
}

#menu {
	margin-left:auto; 
	margin-right:0;
}

#searchBox {
	margin-left:auto; 
	margin-right:auto;
}

#search-input {
	box-sizing: border-box;
    border: none;
    border-bottom: 1px solid rgba(255,255,255,0.87);
    border-radius: 0;
    display: block;
    margin: 0;
    padding: 4px 0;
    width: 100%;
    text-align: left;
    background: 0 0;
    box-shadow: none;
    color: #fff;
}

#searchBox ::-webkit-input-placeholder {
   color: white;
}

#searchBox:-moz-placeholder { /* Firefox 18- */
   color: white;
}

#searchBox ::-moz-placeholder {  /* Firefox 19+ */
   color: white;
}

#searchBox :-ms-input-placeholder {  
   color: white;
}